{% extends 'myBaseHtml.html'%} {%block title%} {{page_title}}{%endblock%} 

{% block content%}
<script>

fun()

document.write("<p>"+calc()+"</p>")

</script>
<section class = "section">
moya section
moya section
moya section
moya section
<article class = "article">
moy article1
moy article1
moy article1
moy article1
moy article1
moy article1
moy article1
</article>
<article class = "article">
moy article2
moy article2
moy article2
moy article2
moy article2
moy article2
moy article2
</article>

</section>
<section>
section 2
<article>
article1 section 2
article1 section 2
article1 section 2
article1 section 2
</article>
</section>
{%endblock content%}



