body{
//transform:skew(5deg,7deg);
    
    height:100%;
	background-color:lightgrey ;
	display:table;
	
	padding:15px;
	//margin:auto;
}
.category_layout{
	
display:block;
color:red;	
}

 #menu a {
text-decoration:none;
}

input{
	display:block;
	background-color:blue;
	
}
#menu {
	float:center;
width:100%;
    font-family: Verdana;
    font-size: 20px;
    background-color:yellow;
    text-align: center;
    border: #B1B1B1 solid;
    border-color:blue;
    border-width: 10 1px 1 1;
    padding: 5px 17px 10px 12px;   
    margin:2px 20px 10px 2px;
}

footer{
	font-size:1.5rem;
position:fixed;
float:center;
bottom:0px;
text-align:center;
margin:auto;
}
section{
	
	column-count:1;
	column-rule:3px solid;
	transform: perspective(1200px) rotateY(-9deg);
	transition:3c all;
	
}
article{
	background-color:red;
}