{% extends 'myBaseHtml.html' %}
	{%block title %} {{title}} {%endblock%}
	{%block header%}	{{header}}	{%endblock%}
	
	{% block content %}
	{% if form.errors %}
	  <p> class="error">Sorry, that's not a valid username or password</p>
	    {% endif %}
	    
	    
	<div id="input">
	  <form action="" method='POST'  >
	  {%csrf_token%}
	    <label for="username"> Юзер:</label>
		<input type="text" name="username" value="" id="username">
	    <label for="password">Пароль:</label>
	    <input type="password" name="password" value="" id="password">
	    <input type="submit" value="login" />
	    <input type="hidden" name="next" value="{{ next|escape }}" />

	  </form >
	</div>
	  
		or
		<p>
		<a href ='/register'>register</a>
		{% endblock %}